input {
  border-color: lightgray;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
}

input:focus {
  border-color: green;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  transition: 0.1s;
}

input.error {
  border-color: red;
}

input.s-l {
  height: 5%;
}

input.s-m {
  height: 2.5%;
}

input.s-s {
  height: 1.5%;
}
