.hor-nav {
  display: flex;
  flex-direction: row;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: teal;
  justify-content: space-between;
}

.hor-nav .search {
  width: 30%;
  margin-right: 10px;
  margin-top: 5px;
}

.hor-nav .home {
  margin-left: 50px;
}
